/*Global declarations*/
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* global deflault font*/
    font-family: monospace;
    /*debugging*/
    border: 1px solid red;
    color: white;
    --primary: white;
    --secondary: purple;
}


body {
    background-color: blue;
    overflow: hidden;

}


p {
    font-size: 1.3em;
}


button {
    outline: none;
    background-color: purple;
    font-size: 1.3em;
    color: white;
}

h1, h2 {
    color: rgb(225, 225, 168);
    text-align: center;
}


li {
    list-style: none;
}

/*Outer Container*/
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    height: 100vh;
}


/*Top Bar*/
.top-bar p {
    float: right;
}

/*Inner Container*/
.inner-container {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Header & Main/Quiz Start*/
.quiz-start-screen, main {
    margin-top: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
    /*debugging*/
    display: none;
}


.quiz-start-screen p {
   text-align: center;
}


.quiz-start-screen button {
   display: block;
   margin: 0 auto;
   background-color: purple;
 }

/*Main Quiz Content*/
main {
    /*debugging - set to 'none' by default*/
    display: block;
}

/*Test Prompt Questions*/
.test-prompts {
    display: none;
}

/*Quiz Finished Screen*/
.quiz-finish-screen {
    display: none;
}

/*Highscores Screen*/
.highscores-screen {
    display: block;
}

