:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary: white;
  --secondary: blueviolet;
  --teriary: violet;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;

}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5vw;
  margin: 0 25px;
  padding: 0 10px
}

a {
  text-decoration: none;
  font-size: 1.6vw;
  font-weight: bold;
  padding: 25px 0 ;
}


#intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#scoreText {
  margin: auto;
  padding: 0;
}

#greetingInput {
  text-align: center;
  padding: 1%;
}


#quiz {
  text-align: center;
  font-size: 1.5vw;
}


#submitStatus {
  text-align: center;
  margin-top: 1%;
  font-size: 1.5vw;
}


#intro ol {
  border: 1px solid var(--teriary);
  margin: 1% 35%;
  padding: 3%;
}

#intro ol li {
  border: 1px solid var(--teriary);
  color: var(--secondary);
  margin: 5px;
  padding-left: 5px;
  text-align: start;
}
